@media only screen and (max-width:1441px) {
    .NavBar {
        display: flex;
        justify-content: space-between;
    }

    .NFT_Marketplace p {
        width: max-content;
    }

    .MRC_Bar {
        width: max-content;
    }

}

@media only screen and (min-width:1345px) {
    .NavBar {
        display: flex;
        justify-content: space-between;
    }
}

/* Taplet STart------------------------------------------------ */


@media only screen and (max-width:835px) {

    /* NAVBAR Basliq */
    .MRC_Bar {
        display: none;

    }

    .USER_Sign_Up {
        display: none;
    }

    #NavBar {
        justify-content: flex-start;
        padding: 0px 20px;
    }

    .list_media {
        display: flex;
        color: #fff;
        margin-top: 39px;
        padding: 0px 20px;
    }

    .list_media1 {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR Bitish */





    /* 1 - ci Seyfe basliq */

    .DiscoverDigital p {
        font-size: 38px;
    }

    .NFTs p {
        font-size: 16px;
        font-family: "Work Sans";
        width: 402px;
    }

    .navbar_number1 {
        margin-right: 60px;
    }

    .navbar_number1 p {
        font-size: 22px;
    }

    .navbar_number1 span {
        font-size: 16px;
    }

    .navbar_number2 {
        margin-right: 60px;
    }

    .navbar_number2 p {
        font-size: 22px;
    }

    .navbar_number2 span {
        font-size: 16px;
    }

    .navbar_number3 {
        margin-right: 60px;
    }

    .navbar_number3 p {
        font-size: 22px;
    }

    .navbar_number3 span {
        font-size: 16px;
    }

    .Cosmonaut>img {
        width: 90%;
    }

    .Animakid {
        border-radius: 0px 0px 20px 20px;
        padding: 30px 0px 0px 10px;
        height: 109px;
        width: 90%;
        background-color: var(--Background-Secondary);

    }

    #Space_Walking {
        padding: 0px 20px 105px 0px;
    }

    /* 1 - ci Seyfe bitish */

    /* 2 ci seyfe basliq */
    .CheckoutCollection p {
        font-size: 16px;
    }

    .Trending p {
        font-size: 28px;
    }

    .DSGNMagicDisco {
        margin-right: 6%;
    }

    .DSGNMagicDisco img {
        height: 340px;
        margin-left: 6%;
    }

    .Robot {
        display: none;
    }

    .Dog>img {
        padding: 0px 15px;
    }

    .Cat {
        padding: 0px;
    }

    .Cat img {
        height: 100px;

    }

    .Bear img {
        height: 100px;
    }

    .DSGN1025 {
        height: 100px;
        margin-left: 2%;
    }

    .DSGN {
        margin-left: 13%;
    }

    .Fox {
        display: flex;
        gap: 10px;
        margin-left: 12.5%;
        margin-top: 3%;
    }

    .MrFox p {
        color: var(--White);
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 300;

    }

    .avatarFox {
        display: flex;

    }

    .avatarFox img {
        width: 24px;
        height: 24px;

    }

    .mushroom>img {
        padding: 0px 0px;
    }

    /*  1 ci sekil ----------- */
    .Keepitreal {
        width: 330px;
        height: 100px;

    }

    .KeepitrealPicture {
        flex-direction: row;
    }

    .KeepitrealPicture img {
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }

    .KeepitTotal {
        margin-left: 6%;
    }

    .KeepitrealTotal {
        margin-left: 6%;
    }

    .KeepitrealKeep p {
        margin-left: -20%;
    }

    /*  1 ci sekil ----------- */


    /*  2 ci sekil --------- */
    .DigiLab {
        width: 330px;
        height: 100px;

    }

    .DigiLabPicture {
        flex-direction: row;
    }

    .DigiLabPicture img {
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }

    .DigiLabTotal {
        margin-left: 6%;
    }

    .ContainerTopCreators1-1 {
        display: flex;
    }

    .DigiLabDig p {
        margin-left: -20%;
    }

    /*  2 ci sekil --------- */


    /* 3 cu sekil ----- */
    .GravityOne {
        width: 330px;
        height: 100px;

    }

    .GravityOnePicture {
        flex-direction: row;
    }

    .GravityOnePicture img {
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }

    .GravityOneTotal {
        margin-left: 6%;
    }

    .GravityOneGrav p {
        margin-left: -20%;
    }

    /* 3 cu sekil ----- */


    /* 4 cu sekil------- */


    .Juanie {
        width: 330px;
        height: 100px;

    }

    .JuaniePicture {
        flex-direction: row;
    }

    .JuaniePicture img {
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }

    .JuanieTotal {
        margin-left: 6%;
    }



    .ContainerTopCreators1-2 {
        display: flex;
        margin-top: 3%;
    }

    .JuanieJuan p {
        margin-left: -20%;
    }

    /* 4 cu sekil------- */




    /* 5 ci sekil------ */
    .BlueWhaleTotal {
        margin-left: 6%;
    }

    .BlueWhaleBlue p {
        margin-left: -20%;
    }

    /* 5 ci sekil ------ */
    /* 6 ci sekil ------ */


    .FoxWithGlassesTotal {
        margin-left: 6%;
    }

    .FoxWithGlassesFox p {
        margin-left: -40%;
    }

    /* 6 ci sekil ------- */
    /* 2 ci seyfe bitis ------------------------------------*/



    /* 3 cu seyfe basliq *--------------------------------*/


    .TopCreators p {
        font-size: 28px;
    }

    .CheckoutTopRated p {
        font-size: 16px;
    }

    .ViewRankings {
        border: 2px solid var(--The-color-jasmine);
        margin-left: 10%;
        margin-right: 10%;
    }

    .ContainerTopCreators1 {
        width: 110%;
        margin-top: 5%;
        flex-direction: column;
    }

    .KeepitrealDigiLab {
        display: flex;
        margin-right: 1%;
    }

    .GravityJuanie {
        display: flex;
        margin-top: 3%;
        margin-right: 1%;
    }

    .Shroomie {
        display: none;
    }

    .Robotica {
        display: none;
    }

    .BlueWhalePicture {
        flex-direction: row;
    }

    .BlueWhalePicture img {
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }

    .BlueWhale {
        width: 330px;
        height: 100px;

    }

    .FoxWithGlasses {
        width: 330px;
        height: 100px;

    }

    .FoxWithGlassesPicture {
        flex-direction: row;
    }

    .FoxWithGlassesPicture img {
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }

    .ContainerTopCreators2 {
        margin-top: 3%;
        margin-right: -12%
    }

    .ContainerTopCreators3 {
        display: none;
    }

    /* 3 cu seyfe bitish *-------------------------------*/


    /* 4 cu seyfe basliq ------------------------------ */


    .oneBrowseCategories {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        margin-top: 2%;
        margin: 30px 9%;
    }

    /* 1 ci ---------------------- */
    .dolphin img:first-child {
        width: 150px;
        height: 142px;
    }

    .dolphin img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-25%, -25%);

    }

    .Art p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }


    /* 1 ci ------------------------------------- */

    /* 2 ci ------------------------------------ */
    .monkey img:first-child {
        width: 150px;
        height: 142px;
    }

    .monkey img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-25%, -25%);

    }

    .Collectibles p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }


    /* 2 ci -------------------------------------- */

    /* 3 cu ----------------------------- */
    .music img:first-child {
        width: 150px;
        height: 142px;
    }

    .music img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-25%, -25%);
    }

    .MusicM p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }


    /* 3 cu ---------------------------- */

    /* 4 cu ---------------------------- */
    .photographer img:first-child {
        width: 150px;
        height: 142px;
    }

    .photographer img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-25%, -25%);

    }

    .PhotographyPhoto p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }


    /* 4 cu ----------------------------- */



    /* 5 ci --------------------------- */



    .video-player img:first-child {
        width: 150px;
        height: 142px;
    }

    .video-player img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-15%, -25%);

    }

    .Video p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }




    /* 5 ci --------------------------- */




    /* 6 ci ------------------------------------- */

    .Utility img:first-child {
        width: 150px;
        height: 142px;
    }

    .Utility img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-15%, -25%);

    }

    .UtilityUtil p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }


    /* 6 ci ----------------------------------- */

    /* 7 ci ------------------------------ */

    .Sport img:first-child {
        width: 150px;
        height: 142px;
    }

    .Sport img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-19%, -25%);
    }

    .SportSpor p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }


    /* 7 ci ------------------------------------ */


    /* 8 ci ------------------------------ */

    .Virtual-Worlds img:first-child {
        width: 150px;
        height: 142px;
    }

    .Virtual-Worlds img:nth-child(2) {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50px;
        left: 50px;
        transform: translate(-15%, -25%);

    }

    .VirtualWorlds p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 600;
        color: var(--White);
        display: flex;
        margin-left: 12%;
        margin-top: 12%;
    }

    /* 8 ci -------------------------------- */



    /* 4 cu seyfe bitish ------------------------------ */






    /* 5ci seyfe balangic ---------------------------------------- */

    .Discover_more p {
        font-size: 28px;
    }

    .Explore_new p {
        font-size: 16px;
        font-weight: 300;
    }

    .See-All {
        margin-left: 36%;
    }

    .AstroFiction {
        display: none;
    }

    .DistantLifeAstroFiction {
        margin-right: -2%;
    }

    /* 5 ci seyfe bsliq ------------*/

    /* 5 ci seyfe bsliq------------- */


    /* 5ci seyfe bitish ---------------------------------------- */





}









/* Taplet END ------------------------------------------------------ */


/* Mobile start --------------------------------------- */


@media only screen and (max-width:415px) {

    /* 1 ci seyfe basliq */
    #ColorFirstPageFlex {
        display: none;
    }

    .NFT_Marketplace p {
        font-size: 23px;
    }

    .NFT_Marketplace i {
        font-size: 24px;
    }

    .list_media {
        font-size: 24px;
        margin-top: 33px;
    }

    /* 1 ci seyfe bitish */


    /* 2 ci seyfe basliq */
    .Trending p {
        font-size: 28px;
    }

    .CheckoutCollection p {
        margin-top: 2%;
    }

    .mushroom {
        display: none;

    }

    .Robot {
        display: none;
    }

    .Dog img {
        height: 360px;
        margin-left: 3%;
    }

    .DSGNAnimals {
        display: flex;
        margin-left: 50px;
    }

    .Cat img {
        height: 95px;
    }

    .Bear img {
        height: 95px;
    }

    .DSGN1025 {
        height: 94px;
    }

    .avatarFox img {
        width: 24px;
        height: 24px;

    }

    /* 2 ci seyfe bitish */



    /* 3 cu seyfe basliq ------------------------------- */

    .ViewRankings {
        display: none;
    }

    .Keepitreal {
        margin: auto;
        margin-top: 3%;
    }

    .ContainerTopCreators1 {
        width: 99%;
        margin-top: 0;
    }

    .KeepitrealDigiLab {
        flex-direction: column;
        width: 310px;
    }

    .GravityJuanie {
        margin-top: 0;
        flex-direction: column;
        margin-left: 5%;
    }

    .FoxWithGlasses {
        display: none;
    }

    .BlueWhale {
        margin-right: 3%;
    }

    .ContainerTopCreators3 {
        display: none;
    }

    .ContainerTopCreators1-1 {
        flex-direction: column;
    }

    .ContainerTopCreators1-2 {
        flex-direction: column;
        margin-left: 18.5%;
    }

    .DigiLab {
        margin-left: 8.5%;
        margin-top: 3%;
    }

    .Juanie {
        margin-top: 3%;
    }

    .BlueWhale {
        margin-right: 6%;
    }


    /* 3 cu seyfe bitish --------------------------------- */

    /* 1 ci seyfe mobile */

    .ViewRankings_mibile {
        width: 315px;
        height: 50px;
        display: flex;
        border: 2px solid var(--The-color-jasmine);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 7%;
        margin-top: 10%;
    }

    .ViewRankings_mibile a {
        color: var(--White);
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    .ViewRankings_mibile i {
        color: var(--The-color-jasmine);
    }

    #ColorFirstPageFlex_media {
        display: flex;
        flex-direction: column;
    }

    .Animakid p:first-child {
        font-size: 22px;
    }

    .Animakid p:last-child {
        font-size: 16px;
        font-weight: 400;
    }

    .DiscoverDigital>p {
        font-size: 28px;
        margin-top: 20%;
        margin-left: 10%;
    }

    .NFTs p {
        font-size: 16px;
        margin-left: 10%;
    }

    #Space_Walking {
        padding: 0px;
        margin-left: -15%;
    }

    .GetStartedRocket {
        width: 315px;
        margin-left: 10%;
    }

    .navbar_number {
        margin-top: 40px;
        margin-left: 9%;
    }

    .Cosmonaut>img {
        width: 86%;
    }

    .Animakid {
        width: 86%;
    }

    /* 1 ci  seyfe mobile */



    /* 4 cu seyfe basliq -------------------------------- */

    .BrowseCategories {
        margin-top: 80px;
    }

    .BrowseCategories p {
        font-size: 28px;

    }

    .oneBrowseCategories {
        margin: 30px 0%;
    }

    .oneBrowseCategories1-1 {
        width: 100%;
        margin-left: 5%;
    }

    /* 1 ci -------------------------------------------- */

    .oneBrowseCategories {
        flex-direction: column;
    }

    .dolphin img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .dolphin img:nth-child(2) {
        width: 80px;
        height: 80px;
        transform: translate(-15% , -25%);
    }

    .Art {
        width: 147.5px;
        height: 67px;
    }

    /* 1 ci ----------------------------------------------------- */



    /* 2 ci --------------------------------------------- */

    .monkey img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .monkey img:nth-child(2) {
        width: 80px;
        height: 80px;
        transform: translate(-15% , -25%);
    }

    .Collectibles {
        width: 147.5px;
        height: 67px;
    }

    /* 2 ci --------------------------------------------- */



    .oneBrowseCategories1-2 {
        width: 100%;
        margin-left: 5%;
        margin-top: 5%;
    }

    /* 3 cu --------------------------------------- */

    .music img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .music img:nth-child(2) {
        width: 80px;
        height: 80px;
    }

    .MusicM {
        width: 147.5px;
        height: 67px;
    }


    /* 3 cu -------------------------------------------- */



    /* 4 cu ----------------------------------------- */
    .photographer img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .photographer img:nth-child(2) {
        width: 80px;
        height: 80px;
        transform: translate(-15% , -25%);
    }

    .PhotographyPhoto {
        width: 147.5px;
        height: 67px;
    }


    /* 4 cu ----------------------------------------- */


    .twoBrowseCategories {
        flex-direction: column;
    }

    .twoBrowseCategories {
        margin: 0;
    }

    /* 5 ci ----------------------- */
    .video-player img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .video-player img:nth-child(2) {
        width: 80px;
        height: 80px;
    }

    .Video {
        width: 147.5px;
        height: 67px;
    }

    /* 5 ci ----------------------- */


    /* 6 ci ------------------------- */

    .Utility img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .Utility img:nth-child(2) {
        width: 80px;
        height: 80px;
    }

    .UtilityUtil {
        width: 147.5px;
        height: 67px;
    }


    /* 6 ci ------------------------- */

    /* 7 c i -------------------------- */
    .Sport img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .Sport img:nth-child(2) {
        width: 80px;
        height: 80px;
    }

    .SportSpor {
        width: 147.5px;
        height: 67px;
    }

    /* 7 c i -------------------------- */


    /* 8 ci ------------------- */
    .Virtual-Worlds img:nth-child(1) {
        width: 148px;
        height: 142px;
    }

    .Virtual-Worlds img:nth-child(2) {
        width: 80px;
        height: 80px;
    }

    .VirtualWorlds {
        width: 147.5px;
        height: 67px;
    }


    /* 8 ci ------------------- */


    /* 4 cu seyfe bitis -------------------------------- */




    /* 5 ci seyfe baslaangic-------------------- */

    .AstroFiction {
        display: flex;
        flex-direction: column;
    }

    .DistantLifeAstroFiction {
        flex-direction: column;
    }

    .See-All {
        display: none;
    }

    .Discover_more {
        margin-top: 20%;

    }

    .DistantGalaxy {
        margin-left: 5%;
    }

    .LifeOnEdena {
        margin-left: 5%;
    }

    .AstroFiction {
        margin-left: -14%;
        margin-top: 59px;
    }

    .See-All_Mobil {
        width: 340px;
        height: 60px;
        display: flex;
        border: 2px solid var(--The-color-jasmine);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 6%;
        margin-top: 15%;
    }

    .See-All_Mobil a {
        color: var(--White);
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    .See-All_Mobil i {
        color: var(--The-color-jasmine);

    }



    /* 5 ci seyfe bitish-------------------- */


}





@media only screen and (max-width:375px) {

    /* 1 - ci seyf basliq */
    #ColorFirstPageFlex {
        display: none;
    }

    .NFT_Marketplace p {
        font-size: 23px;
    }

    .NFT_Marketplace i {
        font-size: 24px;
    }

    .list_media {
        font-size: 24px;
        margin-top: 33px;
    }

    /* 1 - ci seyfe bitis */



    /* 2 - ci seyfe basliq */
    .Trending p {
        font-size: 28px;
    }

    .CheckoutCollection p {
        margin-top: 2%;
    }

    .mushroom {
        display: none;

    }

    .Robot {
        display: none;
    }

    .Dog img {
        height: 280px;
        margin-left: 3%;
    }

    .DSGNAnimals {
        display: flex;
        margin-left: 40px;
    }

    .Cat {
        padding: 0;
    }

    .Cat img {
        height: 80px;

    }

    .Bear img {
        height: 80px;

    }

    .DSGN1025 {
        height: 79px;
        margin-right: 7%;
    }

    .DSGN1025 p {
        font-size: 16px;

    }

    .avatarFox img {
        width: 24px;
        height: 24px;

    }

    /* 2 - ci seyfe bitis ----------------------------------*/



    /* 3 cu seyfe basliq --------------------------------------- */

    .ViewRankings {
        display: none;
    }

    .Keepitreal {
        width: 290px;
    }

    .GravityJuanie {
        margin-left: 1%;
    }

    .BlueWhale {
        width: 290px;
    }

    .BlueWhale {
        margin-right: 5%;
    }

    .ContainerTopCreators3 {
        display: none;
    }

    /* 3 cu seyfe bistish ----------------------------- */


    /* 1 ci seyfe --- */
    /* .ViewRankings_mibile{
    width: 290px;
    margin-left: 5%;
}
#Space_Walking{
    margin-right: 19%;
    margin-left: -12%;
}
.Animakid p:first-child{
    font-size: 22px;
}
.Animakid p:last-child{
    font-size: 16px;
    font-weight: 400;
}
.DiscoverDigital > p{
    font-size: 26px;
    margin-top: 20%;
    margin-left: 6%;
}
.NFTs p{
    font-size: 13px;
    margin-left: 7.1%;
}

.GetStartedRocket{
    width: 270px;
    margin-left: 6%;
}
/*  */
    .navbar_number1 p {
        font-size: 17px;
    }

    .navbar_number1 span {
        font-size: 12px;
    }

    .navbar_number2 p {
        font-size: 17px;
    }

    .navbar_number2 span {
        font-size: 12px;
    }

    .navbar_number3 p {
        font-size: 17px;
    }

    .navbar_number3 span {
        font-size: 12px;
    }


    /* 1 ci seyfe --- */



}




/* Mobile END ----------------------------------------------- */