@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* 1 - ci Seyfe Nav bar basliq */

#NavBar {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.list_media {
    display: none;
}

.NFT_Marketplace {
    display: flex;
    margin-top: 20px;

}

.NFT_Marketplace i {
    color: var(--The-color-jasmine);
    gap: 10px;
    font-size: 28px;
    margin-top: 2.2px;
}

.NFT_Marketplace p {
    color: var(--White);
    font-family: "Work sans";
    font-weight: 600;
    font-size: 28px;
    margin-left: 15px;
    width: max-content;
}

.MRC_Bar {
    margin-top: 13px;
}

.MRC_Bar ul li a {
    display: flex;
    color: var(--White);
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    gap: 30px;
    width: max-content;
}

.MRC_Bar ul {
    display: flex;
    gap: 55px;
    margin-left: 600px;
    margin-top: 17px;
    flex: none;
}

.USER_Sign_Up {
    margin-top: 12px;
    width: 150px;
    height: 55px;
    display: flex;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Call-to-Action);
    gap: 12px;
}

.USER_Sign_Up a {
    display: flex;
    color: var(--White);
    font-size: 16px;
    text-align: center;
}

.USER_Sign_Up i {
    color: var(--White);
}

/* 1 - ci Seyfe Nav bar bitis */




/*  1 - ci Seyfe basliq  */
#ColorFirstPageFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-top: 15px;
}

#ColorFirstPage {
    display: flex;
}

.DiscoverDigital>p {
    color: #fff;
    font-size: 67px;
    font-weight: 600;
    font-family: "Work sans";
}

.NFTs>p {
    color: var(--White);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    margin-top: 25px;
}

.GetStartedRocket {
    width: 200px;
    height: 60px;
    display: flex;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Call-to-Action);
    margin-top: 35px;
    gap: 10px;
}

.GetStartedRocket a {
    display: flex;
    color: var(--White);
    font-size: 16px;
    text-align: center;
}
.GetStartedRocket i{
    color: var(--White);
   
}

.navbar_number {
    display: flex;
    color: var(--White);
    margin-top: 20px;
}

.navbar_number p {
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
}

.navbar_number span {
    font-weight: 400;
    font-size: 23.99px;
    font-family: "Work Sans";

}

.navbar_number1 {
    margin-right: 110px;
}

.navbar_number1 span {
    display: flex;
    width: max-content;
}

.navbar_number2 {
    margin-right: 110px;
}

.navbar_number3 {
    margin-right: 110px;
}

.Cosmonaut {
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 50px;
}

.Cosmonaut img {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 70%;
    object-fit: cover;
}

.Animakid {
    border-radius: 0px 0px 20px 20px;
    padding: 30px 0px 0px 10px;
    height: 109px;
    width: 70%;
    background-color: var(--Background-Secondary);
    align-items: center;
}

.Animakid>p {

    color: var(--White);
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
}

.Animakid1 {
    padding: 13px 0px 0px 0px;
    display: flex;
    gap: 12px;
    margin-left: 10px;

}

.Animakid1 p {
    font-size: 16px;
    font-weight: 400;
    color: var(--White);
    font-family: "Work Sans";
    line-height: 140%;

}

.Animakid img {
    width: 24px;
    height: 24px;
    border-radius: 120%;
}

/*  1 - ci Seyfe bitis ----------------------------------------> */





/* 2 ci seyfe basilq ----------------------------------------- */

.Trending p {
    font-size: 48px;
    color: var(--White);
    font-weight: 600;
    font-family: "Work Sans";
    text-transform: capitalize;
    margin-top: 10%;
    display: flex;
    margin-left: 7%;
}

.CheckoutCollection {
    font-family: "Work Sans";
    font-size: 30px;
    margin-left: 7%;
    color: var(--White);
    margin-top: 0.4%;
}

.DSGNMagicDisco {
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-top: 5%;
}

.DSGNMagicDisco img {

    height: 365px;
    border-radius: 67px;
    margin-top: 2%;

}

.DSGNAnimals {
    display: flex;
    margin-left: 32px;
}

.DSGNAnimals img {
    height: 100px;
    border-radius: 30px;

}

.Dog>img {
    padding: 0px 30px;
}

.DSGN1025 {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--The-color-jasmine);
    border-radius: 30px;
    margin-top: 0.4%;
    justify-content: center;
    align-items: center;
}

.DSGN1025 {
    margin-left: 2%;
}

.DSGN1025 p {
    font-size: 22px;
    font-family: "Space Mono";
    font-weight: 700;
    color: var(--White);
}

.Cat {
    padding: 0px 2%;
}

.Bear {
    padding: 0px 2%;
}

.DSGN {
    margin-left: 9%;
}

.DSGN p {
    margin-top: 2%;
    font-size: 22px;
    color: var(--White);
    font-family: "Work Sans";
    font-weight: 600;
    text-transform: capitalize
}

.Fox {
    display: flex;
    gap: 10px;
    margin-left: 9%;
    margin-top: 3%;
}

.MrFox p {
    color: var(--White);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 300;

}

.avatarFox {
    display: flex;

}

.avatarFox img {
    width: 24px;
    height: 24px;

}

.mushroom>img {
    padding: 0px 30px;

}

.DSGN1025-1 {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--The-color-jasmine);
    border-radius: 30px;
    margin-top: 0.4%;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 34px;
    margin-left: 2%;
}

.DSGN1025-1 p {
    margin-right: 30%;
    font-size: 22px;
    font-family: "Space Mono";
    font-weight: 700;
    color: var(--White);
}

.Robot>img {
    padding: 0px 30px;
}

/* 2 ci seyfe bitish ---------------------------------------- */






/* 3 cu seyfe basliq ---------------------------------------- */

.TopCreators {
    margin-top: 7%;
    margin-left: 6.5%;
}

.TopCreators p {
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Work Sans";
    color: var(--White);
}

.CheckoutTopRated {
    display: flex;
}

.CheckoutTopRated p {
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Work Sans";
    color: var(--White);
    line-height: 160%;
    margin-top: 1%;
}

.ViewRankings {
    width: 200px;
    height: 50px;
    display: flex;
    border: 3px solid var(--The-color-jasmine);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 32%;
}
.ViewRankings a{
    color: var(--White);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.ViewRankings i{
    color: var(--The-color-jasmine);
}

/* .ViewRankings {
  
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Call-to-Action);
    margin-top: 35px;
}

.ViewRankings a {
    display: flex;
    color: var(--White);
    font-size: 16px;
    text-align: center;
}

 */









/* 3 cu seyfe bitish ---------------------------------------- */